Source: hamonikr-security-tool
Section: misc
Priority: optional
Maintainer: HamoniKR Maintainers <pkg@hamonikr.org>
Build-Depends: automake (>= 1.13),
               debhelper (>= 10),
               gnome-pkg-tools (>= 0.17),
               gnome-common (>=3.18.0),
               intltool (>= 0.35.0),
               libglib2.0-dev,
               libgtk-3-dev,
               libpolkit-gobject-1-dev,
               libjson-c-dev,
               hamonikr-security-utils
Standards-Version: 3.9.8

Package: hamonikr-security-tool
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Tools to view or set the security status of the HamoniKR.
