.text-button{
  font-size: 97%;
}

.scrolledwindow {
  border-radius: 10px;
  border-color: rgba(106, 159, 221, 0.05);
  border: solid 1px rgba(106, 159, 221, 0.05);
} .treeview {
  background-color: @theme_base_color;
  color: @theme_text_color;
  font-size: 97%;
} .treeview:hover {
  background-color: alpha(@theme_selected_bg_color, 0.1);
} .treeview:selected {
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color;
} .treeview header button{
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  color: @theme_text_color;
  min-height: 23px;
  border:groove 1px rgba(0, 0, 0, 0.1);
}

#right_box {
  padding-right: 25px;
}

popover {
  border-radius: 10px;
  border: solid 1px @theme_bg_color;
}

.color_box {
  border-radius: 10px;
  background-color: alpha(@theme_base_color, 0.8);
} .font_box label {
  color: @theme_text_color;
}

.info_box {
  border-radius: 10px;
  background-color: alpha(@theme_base_color, 0.8);
  color: @theme_text_color;
} .line_box {
  background-color: alpha(@theme_base_color, 0.8);
  border-radius: 10px;
}.desc {
  color: @theme_text_color;
}

#lbl_title {
  padding: 0px 15px 0px 0px;
}

#frame_side {
  border-radius: 10px;
  background-color: @theme_base_color;
  color: @theme_text_color;
} #trv_sidebar_contents{
  border-radius: 10px;
  background-color: @theme_base_color;
  font-size: 97%;
} #trv_sidebar_contents :hover{
  border-radius: 10px;
  color: @theme_selected_bg_color;
  background-color: alpha(@theme_selected_bg_color, 0.2);
} #trv_sidebar_contents :selected{
  border-radius: 10px;
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.btn_blue {
  border-radius: 10px;
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
  font-size: 97%;
}

.radio {
  border: none;
  border-radius: 10px;
  color: @theme_text_color;
  padding-top: 7px;
  padding-bottom: 8px;
  background-color:rgba(0, 0, 0, 0);
  font-size: 97%;
}.radio:hover {
  background-color:rgba(0, 0, 0, 0.1);
}.radio:checked {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}.btn_box {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.log_filter_popover {
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: @theme_base_color;
  color: @theme_text_color;
}.log_filter_popover:hover {
  background-color: @theme_base_color;
  border-color: @theme_selected_bg_color;
}.log_filter_popover:active {
  background-color:rgba(62, 109, 220, 0.2);
  border-color: @theme_selected_bg_color;
} combobox button {
  font-size: 97%;
  padding: 0px 15px;
} popover grid {
  min-width: 380px;
} combobox button:hover {
  background-color: @theme_base_color;
  border-color: @theme_selected_bg_color;
} .log_btn {
  padding: 0px 15px;
} .log_btn:disabled {
  opacity: 0.5;
}

#btn_site_list {
  border: none;
  padding: 0px;
  min-width: 0px;
} #btn_site_list:hover {
  background-color: transparent;
} #btn_site_list label {
  color: @theme_link_color;
} #btn_site_list:hover label {
  color: @theme_selected_bg_color;
} #lbl_site_list:disabled{
  color: @theme_text_color;
}

#image_box {
  padding: 3px;
  border-radius: 10px;
  background-color: alpha(@theme_selected_bg_color, 0.2);
}

#btn_safety_measure {
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: @theme_selected_fg_color;
  padding: 8px 20px 7px;
} #btn_safety_measure label {
  color: @theme_text_color;
} #btn_safety_measure:hover {
  border: solid 1px #3e6ddc;
} #btn_safety_measure:disabled {
  opacity: 0.5;
}
